/* 
    CSS Guide 

    1.  GENERAL STYLES

    2.  HEADER

    3.  HOME PAGE
    3a. Main Hero
    3b. Product Cards
    3c. Endless Banner
    3d. Sustainability Banner

    4.  PRODUCTS PAGE
    4a. Products Hero
    4b. Assorted Banner
    4c. Product Cards

    5.  CONTACT PAGE
    5a. Contact Form
    5b. Contact Info

    6.  FOOTER
*/

/* GENERAL STYLES */

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html {
    box-sizing: border-box; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}
  
body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
}

body {
    font-family: 'Degular', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

button, input[type="submit"] {
	border: none;
    font-family: 'Degular', sans-serif;
}

button:active,input[type="submit"]:active {
    transform: translateY(1px);
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(90%) contrast(120%);
    box-shadow: 2px 2px 1px rgba(136,136,136,0.5);
    box-sizing: border-box;
}

h1 {
    font-weight: 800;
}

#body-background {
    background-color: #FFFFF0;
}

/* 2. HEADER */

header {
    color: white;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0 1.5rem;
    position: relative;
}

#home-header {
    background-color: #F79420;
}

#products-header {
    background-color: #F15B57;
}

#contact-header {
    background-color: #803960;
}
 
#main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#main-nav label img {
    width: 1.5rem;
    cursor: pointer;
    transition: all .2s ease;
    position: absolute;
    left: 5%;
    margin-top: .7rem;
} 

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input, #burger-con {
    display: none;
}

#burger-con ul li a img {
    display: none;
}

#burger-con ul li #wide-logo {
    display: none;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
    transition: 50ms linear;
}

#main-nav ul li a {
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 .5rem;
}

#burger-con ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: .5rem;
}

#burger-con ul li:hover {
    transform: translateY(-1px);
    transition: 50ms ease-in-out;
}

#burger-con ul li a:hover {
    text-decoration: underline 1px;
}

#header-logo a {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    margin: 0 auto;
}

#header-logo h2 {
    padding-right: .5rem;
    font-size: 1.5rem;
    padding-bottom: .3rem;
    font-weight: 800;
}

#header-logo img {
    width: 1.5rem;
}

#wide-header {
    display: none;
}

#cart {
    position: absolute;
    right: 5%;
    margin-top: .5rem;
    width: 1.25rem;
    cursor: pointer;
}


/* 3. HOME PAGE */

/* 3a. Main Hero */

#main-hero {
    border-radius: 20px;
    margin: 0.5rem 0;
}

/* 3b. Product Cards */

.product-cards-index {
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    position: relative;
}

.product-label {
    display: none;
    border-radius: 9px;
    height: 100%;
    margin-top: 1rem;
}

.product-label h3 {
    display: none;
    text-align: center;
    font-size: 1.25rem;
    padding: .15rem 0rem .25rem 0rem;
}

#pineapple-label {
    color: #EBCE56;
    background-color: #F7EBBB;
}

#orange-label {
    color: #F79420;
    background-color: #FCD4A6;
}

#grapefruit-label {
    color:#F15B57;
    background-color: #F8BDBC;
}

#passionfruit-label {
    color:#803960;
    background-color: #CCB0BF;
}

.product-cards-index:hover .product-card-logo {
    display: none;
}

.product-cards-index:hover .product-label {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInLabel .4s ease-out;
}

.product-cards-index:hover h3 {
    display: block;
    animation: fadeInLabel .4s ease-out;
}

@keyframes slideInLabel {
    0% {
        width: 20%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fadeInLabel {
    0% {
        opacity: 0;
        white-space: nowrap;
    }

    50% {
        opacity: 0;
        white-space: nowrap;
    }

    100% {
        opacity: 1;
        white-space: nowrap;
    }
}

.card-backgrounds-index {
    padding: 1.5rem;
}

.product-cards-index img:first-child {
    border-radius: 15px;
    padding: 1rem;
}

.product-card-logo {
    width: 20%;
    padding-top: 1rem;
}

.info-wrapper {
    position: absolute;
    right: 12.5%;
    top: 7%;
    width: 1.25rem;
}

.info-wrapper {
    animation: pulse 1s infinite ease-in-out;
}

.info-wrapper:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform:scale(1);
        filter: brightness(100%);
    }

    50% {
        transform:scale(1.1);
        filter: brightness(50%);
    }

    100% {
        transform:scale(1);
        filter: brightness(100%);
    }
}

.product-info {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 20%;
    width: 60%;
    display: none;
    font-size: 1rem;
    font-weight: 800;
}

#pineapple-card .product-info  {
    color: #EBCE56;
}

#orange-card .product-info  {
    color: #F79420;
}

#grapefruit-card .product-info  {
    color: #F15B57;
}

#passionfruit-card .product-info  {
    color: #803960;
}

/* 3c. Endless Banner */

#endless-banner {
    background: linear-gradient(#6D9D7E, #A8D4A6);
    border-radius: 15px;
    text-align: center;
    color: white;
    overflow: hidden;
}

#endless-banner h2 {
    font-weight: 800;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 1.75rem;
}

#endless-banner h3 {
    font-weight: 500;
    margin-top: 0.25rem;
    font-size: 1.1rem;
}

#endless-banner button {
    background: white;
    color: #6D9D7E;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#endless-images {
    display: flex;
    height: 7rem;
    margin-top: 0.5rem;
    position: relative;
    bottom: -1rem;
    animation: endless 2.75s linear infinite;
}

#endless-images img{
    padding-left: 0.25rem;
}


#endless-images img:hover {
    transform: translateY(-0.25rem);
}

@keyframes endless {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-60%);
    }
}

/* 3d. Sustainability Banner */

#sustainability-banner {
    background: #FCD4A6;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color: #F79420;
    margin-top: 0.5rem;
}

#sustainability-banner img {
    height: 3rem;
    margin-top: 1rem;
}

#sustainability-banner div:nth-child(5) img {
    width: 5rem;
}

#sustainability-banner h2 {
    font-weight: 800;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 2.5rem;
}

#sustainability-banner h3 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 80%;
}

#sustainability-banner h4 {
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 60%;
}

.modal {
    display: none;
    position: fixed;
}

.modal-con {
    background-color: white;
    margin: 0 auto;
    padding: 1.5rem;
    width: 80%;
    border-radius: 10px;
    margin-top: 50%;
}

.modal-header {
    font-size: 1.5rem;
    font-weight: 800;
    color: #F79420;
    padding-top: 1rem;
    text-align: center;
}

.modal-text {
    padding: 2rem;
    font-size: 1rem;
    color: #F79420;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 0;
    margin-top: 50%;
    right: 14%;
    cursor: pointer;
    color: #F79420;
    font-size: 2rem;
}

.close-button:hover {
    color: black;
    cursor: pointer;
}

/* 4. PRODUCTS PAGE */

/* 4a. Products Hero */

#product-hero {
    border-radius: 20px;
    margin: 0.5rem 0;

}

#hero-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hero-video video {
    border-radius: 15px;
    margin-top: 0.5rem;
    z-index: 1;
    width: 100%;
}

#video-text {
    position: absolute;
    color: white;
    z-index: 2;
    width: 100%;
    top: 30%;
    left: 44%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero-video h1 {
    font-weight: 800;
    line-height: 2rem;
    text-align: center;
}

#hero-video button {
    background-color: #F15B57;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.35rem 0.5rem;
}

/* 4b. Assorted Banner */

#assorted-banner {
    position: relative;
}

#assorted-banner button {
    position: absolute;
    bottom: 10%;
    left: 29.5%;
    background-color: #6D9D7E;
    color: #A8D4A6;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.3rem 0.5rem;
    font-size: 0.475rem;
    font-weight: 600;
}

#assorted-banner button:hover {
    background-color: #577e65;
    box-shadow: 2px 2px 1px rgba(136,136,136,0.5);
    box-sizing: border-box;
}


/* 4c. Product Cards */

.card-left-con {
    width: 45%;

}

.card-right-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin-left: 0.5rem;
    height: 100%;
}

.product-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.product-cards {
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.product-cards h2 {
    margin-top: -.3rem;
    font-size: 1.875rem;
    font-weight: 800;
}

.product-cards h3 {
    font-weight: 700;
}

.product-cards button {
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}

.product-cards img {
    border-radius: 15px;
    padding: 1rem;
}

.card-backgrounds {
    margin-bottom: 1rem;
}

.cart-button {
    padding: .4rem 0rem 0.5rem 0rem;
    width: 100%;
}

.info-button {
    padding: .4rem 0rem 0.5rem 0rem;
    width: 100%;
}

#pineapple-card .product-card-text {
    color: #F7EBBB;
}

#orange-card .product-card-text {
    color: #FCD4A6;
}

#grapefruit-card .product-card-text {
    color: #F8BDBC;
}

#passionfruit-card .product-card-text {
    color: #CCB0BF;
}

#pineapple-card {
    background-color: #EBCE56;
}

#pineapple-background {
    background-color: #F7EBBB;
    border-radius: 15px;
}

#pineapple-card button {
    background-color: #F7EBBB;
    color: #EBCE56;
}

#orange-card {
    background-color: #F79420;
}

#orange-background {
    background-color: #FCD4A6;
    border-radius: 15px;
}

#orange-card button {
    background-color: #FCD4A6;
    color: #F79420;
}

#grapefruit-card {
    background-color: #F15B57;
}

#grapefruit-background {
    background-color: #F8BDBC;
    border-radius: 15px;
}

#grapefruit-card button {
    background-color: #F8BDBC;
    color: #F15B57;
}

#passionfruit-card {
    background-color: #803960;
}

#passionfruit-background {
    background-color: #CCB0BF;
    border-radius: 15px;
}

#passionfruit-card button {
    background-color: #CCB0BF;
    color: #803960;
}

.flavour-text {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.ingredient-list {
    font-size: 0.9rem;
    align-self: flex-end;
    margin-top: auto;
}

.ingredient-list span {
    font-weight: 600;
}


/* 5. CONTACT PAGE */

/* 5a. Contact Form */

#contact-form {
    color: #803960;
    margin: 1rem;
}

#form-text {
    text-align: left;
    margin: 1.5rem 0 .5rem 0;
}

#contact-form h2 {
    font-size: 1.25rem;
    font-weight: 800;
}

#contact-form h3 {
    font-size: 1rem;
    font-weight: 400;
}

#contact-form input[type="text"], textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: .75rem;
    padding: .5rem 0rem .6rem .5rem;
    margin: .75rem 0;
    border-color: #803960;
    border-radius: 4px;
    font-family: 'Degular', sans-serif;
    color: #803960;
    max-width: 100%;
}

#contact-form textarea {
    height: 5rem;
    padding: .35rem 0rem 0rem .5rem;
}

#contact-form input[type="submit"] {
    background-color: #803960;
    color: white;
    border-color: #803960;
    border-radius: 4px;
    padding: .4rem 2rem .6rem 2rem;
    font-weight: 700;
}

/* 5b. Contact Info */

#contact-info {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 7px;
    text-align: center;
    border-color: #803960;
    margin-top: .5rem;
    max-width: 250px;
}

#contact-info span {
    font-weight: 700;
}

#contact-info p {
    padding: .25rem;
}

#contact-info h2 {
    padding: .5rem;
}

#contact-info p:last-of-type {
    padding-bottom: 1rem;
}


/* FOOTER */

#home-footer {
    background: url(../images/home-footer.svg) no-repeat;
    background-size: cover;
}

#products-footer {
    background: url(../images/products-footer.svg) no-repeat;
    background-size: cover;
}

#contact-footer {
    background: url(../images/contact-footer.svg) no-repeat;
    background-size: cover;
}

footer {
    color: white;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#sm-icons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
}

#sm-icons img {
    height: 1rem;
    padding-left: .5rem;
}

footer h2 {
    font-size: .7rem;
}

footer ul {
    list-style: none;
    padding: .5rem;
    font-size: .7rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: .75rem;
}


/* Tablet Styling */

@media screen and (min-width: 768px) { 

/* 2. HEADER */

    header {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    #cart {
        width: 1.5rem;
        right: 3.5%;
        margin-top: 0rem;
    }

    #main-nav {
        justify-content: center;
    }

    #main-nav h2 {
        position: absolute;
        color: white;
        left: 3.5%;
        font-size: 1.75rem;
        margin-bottom: .5rem;
        font-weight: 800;
    }

    #main-nav button {
        display: none;
    }

    #main-nav label img {
        display: none;
    }

    #burger-con {
        display: block;
    }

    #wide-header {
        display: block;
    }
    
    #header-logo {
        display: none;
    }

    #burger-con ul {
        padding-left: 2.75rem;
        margin-top: .5rem;
    }

    #burger-con ul li a img {
        display: block;
    }
    
    #burger-con ul li #wide-logo {
        display: block;
    }

    #main-nav {
        padding: .75rem;
        flex-direction: row;
    }

    #main-nav ul li {
        margin: 0rem 1rem;
    }
    
    #main-nav ul li a {
        font-size: 1rem;
    }
     
    #main-nav ul li a img {
        width: 3rem;
    }

/* 3. HOME PAGE */

/* 3a. Main Hero */

    #main-hero {
        margin-top: 1rem;
    }

/* 3b. Product Cards */

    .product-cards-index {
        margin-top: .5rem;
    }

    .product-label {
        border-radius: 10px;
        margin: 1.5rem 1rem 0.5rem 1rem;
    }
    
    .product-label h3 {
        font-size: 2.25rem;
        padding: .5rem 0rem .7rem 0rem;
    }

    @keyframes slideInLabel {
        0% {
            width: 20%;
        }
    
        100% {

            width: calc(100% - 2rem);
        }
    }
    
    .card-backgrounds-index {
        padding: 2.5rem;
    }
    
    .product-cards-index img:first-child {
        border-radius: 15px;
        padding: 2rem;
    }

    .product-cards-index div:first-of-type {
        margin: 1rem 1rem 0 1rem;
    }

    .product-card-logo {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
    }

    .info-wrapper {
        right: 7.5%;
        top: 4%;
        width: 2.5rem;
    }
    
    .product-info {
        top: 20%;
        left: 19.5%;
        width: 61%;
        font-size: 2rem;
    }
    
/* 3c. Endless Banner */   

    #endless-banner {
        margin-top: 0.5rem;
        height: 300px;
    }

    #endless-banner button {
        padding-bottom: 0.6rem;
    }

    #endless-images {
        height: 160px;
        animation: endless 2.5s linear infinite;
    }

    #endless-banner h3{
        font-size: 1.75rem;
    }

    @keyframes endless {
        0% {
            transform: translateX(0%);
        }
    
        100% {
            transform: translateX(-46%);
        }
    }

/* 3d. Sustainability Banner */  

    #sustainability-banner {
        margin-top: 1rem;
    }

    #sustainability-banner div {
        width: 50%;
    }

    #sustainability-banner div:last-child {
        padding-bottom: 1.5rem;
    }

    #sustainability-banner img {
        height: 6rem;
    }
    
    #sustainability-banner div:nth-child(5) img {
        width: 9rem;
    }
    
    #sustainability-banner h2 {
        font-size: 3rem;
    }
    
    #sustainability-banner h3 {
        font-size: 1.5rem;
        width: 60%;
        padding-bottom: 1rem;
    }
    
    #sustainability-banner h4 {
        font-size: 1.5rem;
        width: 50%;
        padding-top: 1rem;
    }

    .modal-con {
        margin-top: 30%;
    }
    
    .modal-header {
        font-size: 2.5rem;
    }
    
    .modal-text {
        font-size: 1.5rem;
    }
    
    .close-button {
        margin-top: 29%;
        right: 12%;
        font-size: 3rem;
    }

/* 4. PRODUCTS PAGE */  

/* 4a. Products Hero */  

    #video-text {
        top: 25%;
        left: 43.5%;
    }

    #hero-video video {
        margin-top: 1rem;
    }
    
    #hero-video h1 {
        line-height: 4rem;
        font-size: 4rem;
    }
    
    #hero-video button {
        margin-top: 1.5rem;
        width: 100%;
        border-radius: 10px;
        font-size: 1.4rem;
        padding: 0.5rem 1rem 0.7rem 1rem;
    }

    
/* 4b. Assorted Banner */  

#assorted-banner {
    margin: 0.5rem 0;
}

#assorted-banner button {
    position: absolute;
    bottom: 7%;
    left: 23%;
    padding: 0.25rem 3.8rem 0.3rem 3.8rem;
    font-size: 1rem;
    border-radius: 7px;
}


/* 4c. Product Cards */  

    .card-right-con {
        margin-left: -.5rem;
    }

    .product-cards h2 {
        font-size: 1.7rem;
    }

    .flavour-text {
        font-size: 0.9rem;
    }

    .ingredient-list {
        font-size: 0.85rem;
    }

/* 5. CONTACT PAGE */  

/* 5a. Contact Form */  

    #contact-form {
        margin: 2rem;
    }

    #contact-form h2 {
        font-size: 2.25rem;
    }

    #contact-form h3 {
        font-size: 1.75rem;
    }

    #contact-form input[type="submit"] {
        border-radius: 4px;
        padding: .4rem 2rem .6rem 2rem;
    }

    #contact-form input[type="text"], textarea {
        font-size: 1.2rem;
        border: 3px solid;
        border-radius: 7px;
    }

    #contact-form textarea {
        height: 10rem;
    }

    #contact-form input[type="submit"] {
        padding: .5rem 3.25rem .7rem 3.25rem;
        font-size: 1.2rem;
        border-radius: 6px;
    }

/* 5b. Contact Info */ 

    #contact-info h2 {
        font-size: 1.75rem;
    }

    #contact-info {
        border-radius: 6px;
        border: 3px solid;
        max-width: 400px;
    }

    #contact-info p {
        font-size: 1.25rem;
    }

/* 6. FOOTER */  

    #sm-icons {
        margin-top: 3.5rem;
        margin-left: 1.5rem;
    }
    
    #sm-icons img {
        padding-left: .75rem;
        height: 1.5rem;
    }
    
    footer h2 {
        font-size: 1.25rem;
    }
    
    footer ul {
        padding: 1rem;
        font-size: 1.25rem;
    }
    
    #footer-nav {
        margin-right: 1.5rem;
        margin-top: 1rem;
    }

}

/* Medium Desktop Styling */

@media screen and (min-width: 1200px) { 

/* 2. HEADER */  

    header {
        border-radius: 0 0 1.75rem 1.75rem;
    }

    #cart {
        right: 2.5%;
        width: 2rem;
    }
    
    #main-nav h2 {
        left: 2.5%;
        font-size: 2.5rem;
    }

    #main-nav {
        padding: 1rem;
    }

    #main-nav ul li {
        margin: 0rem 2.5rem;
    }

    #burger-con ul {
        padding-left: 3rem;
    }
    
    #main-nav ul li a {
        font-size: 1.3rem;
    }
     
    #main-nav ul li a img {
        width: 3.5rem;
    }

/* 3. HOME PAGE */  

/* 3b. Product Cards */  

    .product-label h3 {
        font-size: 1.5rem;
        padding: .5rem 0rem .65rem 0rem;
    }

    .card-backgrounds-index {
        padding: 2rem;
    }

    .info-wrapper {
        right: 9%;
        top: 5%;
        width: 1.75rem;
    }

    .product-info {
        top: 18%;
        left: 20%;
        width: 60%;
        font-size: 1.5rem;
    }

/* 3c. Endless Banner */  

    #endless-banner {
        height: 400px;
    }

    #endless-banner h2 {
        font-size: 2.8rem;
        margin-top: 1.5rem;
    }

    #endless-banner h3 {
        font-size: 2.8rem;
    }

    #endless-banner button {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem 0.7rem 1.5rem;
        margin: 1.5rem 0 1rem 0;
    }

    #endless-images {
        height: 180px;
        animation: endless 2s linear infinite;
    }

    @keyframes endless {
        0% {
            transform: translateX(0%);
        }
    
        100% {
            transform: translateX(-32%);
        }
    }

/* 3d. Sustainability Banner */  

    #sustainability-banner h2 {
        font-size: 4rem;
    }

    #sustainability-banner h3 {
        width: 100%;
    }

    #sustainability-banner div {
        width: auto;
    }

    #sustainability-banner h4 {
        font-size: 1.75rem;
        width: 60%;
    }

    .modal-con {
        margin-top: 25%;
    }
    
    .modal-header {
        font-size: 3rem;
    }
    
    .modal-text {
        font-size: 2rem;
    }
    
    .close-button {
        margin-top: 24.5%;
        right: 12%;
        font-size: 3.5rem;
    }

/* 4. PRODUCTS PAGE */  


/* 4a. Products Hero */ 

#video-text {
    top: 30%;
    left: 41.5%;
}

#hero-video h1 {
    line-height: 5.5rem;
    font-size: 5.5rem;
}

#hero-video button {
    font-size: 1.75rem;
    padding: .7rem 1rem .9rem 1rem;
}


/* 4b. Assorted Banner */ 

#assorted-banner button {
    position: absolute;
    bottom: 5.5%;
    left: 22.5%;
    padding: .5rem 6.5rem .7rem 6.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

/* 4c. Product Cards */ 

    .product-cards h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .product-cards h3 {
        font-size: 1.75rem;
    }

    .flavour-text {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .ingredient-list {
        font-size: 1.29rem;
        line-height: 1.6rem;
    }

    .card-left-con {
        margin-right: 1rem;
    }

    .product-cards {
        padding: 1.3rem;
    }

    .product-cards img {
        padding: 2rem;
    }

    .card-backgrounds {
        margin-bottom: 1.3rem;
    }

    .product-card-text {
        margin-bottom: 1.3rem;
    }

    .cart-button {
        padding: .7rem 0rem 0.8rem 0rem;
    }
    
    .info-button {
        padding: .7rem 0rem 0.8rem 0rem;
    }

    .product-cards button {
        font-size: 1.1rem;
    }

/* 5. CONTACT PAGE */ 

/* 5a. Contact Form */ 

    #form-text {
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 0;
        margin-right: 4rem;
    }

    #form-input {
        grid-row-start: 2;
        grid-row-end: 3;
        margin-right: 4rem;
    }

    #contact-form {
        margin: 3rem;
    }

    #contact-form h2 {
        font-size: 2.25rem;
    }

    #contact-form h3 {
        font-size: 1.75rem;
    }

    #contact-form input[type="text"], textarea {
        font-size: 1.25rem;
        border: 3px solid;
        border-radius: 7px;
    }

    #contact-form textarea {
        height: 10rem;
    }

    #contact-form input[type="submit"] {
        padding: .6rem 3.5rem .8rem 3.5rem;
        font-size: 1.25rem;
        border-radius: 7px;
    }

/* 5b. Contact Info */ 

    #contact-info {
        grid-row-start: 1;
        grid-row-end: 3;
        margin-left: 1rem;
        margin-bottom: 3.7rem;
        border: 3px solid;
        max-width: 100%;
    }

    #contact-info h2 {
        font-size: 2.25rem;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    #contact-info p {
        font-size: 1.75rem;
        padding: 1rem;
    }


/* 6. FOOTER */ 

    footer {
        padding: 1rem 0rem;
    }

    #sm-icons {
        margin-top: 5.5rem;
        margin-left: 2.5rem;
    }
    
    #sm-icons img {
        height: 2.5rem;
        padding-left: 1.5rem;
    }
    
    footer h2 {
        font-size: 1.75rem;
    }
    
    footer ul {
        padding: 1rem;
        font-size: 1.75rem;
    }
    
    #footer-nav {
        margin-right: 2.5rem;
        margin-top: 1.5rem;
    }

}

/* Large Desktop Styling */

@media screen and (min-width: 1920px) { 

/* 2. HEADER */ 

    header {
        border-radius: 0 0 3rem 3rem;
    }

    #cart {
        right: 2.5%;
        width: 3rem;
    }
    
    #main-nav h2 {
        left: 2.5%;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    #burger-con ul {
        padding-left: 4.5rem;
    }

    #main-nav ul li {
        margin: 0rem 4rem;
    }
    
    #main-nav ul li a {
        font-size: 2rem;
    }
     
    #main-nav ul li a img {
        width: 4.5rem;
    }

/* 3. HOME PAGE */ 

/* 3b. Product Cards */ 

    .product-label {
        border-radius: 10px;
        margin: 2rem 1rem 0rem 1rem;
    }

    .product-label h3 {
        font-size: 2.75rem;
        padding: .55rem 0rem .9rem 0rem;
    }

    .product-card-logo {
        margin-bottom: 0;
        padding-top: 1.5rem;
    }

    .product-cards-index {
        padding: 2rem;
    }

    .card-backgrounds-index {
        padding: 3.5rem;
    }

    .info-wrapper {
        right: 9.5%;
        top: 5.5%;
        width: 3.5rem;
    }

    .product-info {
        top: 19%;
        font-size: 2.5rem;
    }

/* 3c. Endless Banner */ 

    #endless-banner {
        height: 600px;
    }

    #endless-banner h2 {
        font-size: 4rem;
    }

    #endless-banner h3 {
        font-size: 4rem;
    }

    #endless-banner button {
        font-size: 2rem;
        border-radius: 15px;
        padding: 0.5rem 3rem 0.8rem 3rem;
        margin: 1.5rem 0 1rem 0;
    }

    #endless-images {
        height: 350px;
        animation: endless 2.5s linear infinite;
    }

    @keyframes endless {
        0% {
            transform: translateX(0%);
        }
    
        100% {
            transform: translateX(-38%);
        }
    }

/* 3d. Sustainability Banner */ 

    #sustainability-banner {
        height: 650px;
    }

    #sustainability-banner h2 {
        font-size: 7rem;
    }

    #sustainability-banner h3 {
        font-size: 3rem;
        margin-top: -1.5rem;
    }

    #sustainability-banner img {
        height: 8rem;

    }
    
    #sustainability-banner div:nth-child(5) img {
        width: 11rem;
    }
    
    #sustainability-banner h4 {
        font-size: 3rem;
    }

    .modal-con {
        margin-top: 15%;
        padding: 2rem;
    }
    
    .modal-header {
        font-size: 5rem;
    }
    
    .modal-text {
        font-size: 3rem;
    }
    
    .close-button {
        margin-top: 15%;
        right: 11.5%;
        font-size: 4rem;
    }

/* 4. PRODUCTS PAGE */ 

/* 4a. Products Hero */ 

    #hero-video h1 {
        line-height: 9rem;
        font-size: 9rem;
    }

    #hero-video button {
        font-size: 3rem;
        padding: 1rem .5rem 1.2rem .5rem;
        margin-top: 3rem;
    }

/* 4b. Assorted Banner */ 

    #assorted-banner button {
        position: absolute;
        bottom: 5.5%;
        left: 22.5%;
        padding: 1rem 12rem 1.2rem 12rem;
        font-size: 2rem;
        border-radius: 15px;
    }

/* 4c. Product Cards */ 

    .product-cards h2 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: -.5rem;
    }

    .product-cards h3 {
        font-size: 2.8rem;
    }

    .flavour-text {
        font-size: 2.7rem;
        line-height: 2.7rem;
    }

    .ingredient-list {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }

    .card-left-con {
        margin-right: 1rem;
    }

    .product-cards {
        padding: 2rem;
    }

    .product-cards img {
        padding: 3.5rem;
    }

    .card-backgrounds {
        margin-bottom: 2rem;
    }

    .product-card-text {
        margin-bottom: 2rem;
    }

    .cart-button {
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    .info-button {
        padding: 1rem 0rem 1.2rem 0rem;
    }

    .product-cards button {
        font-size: 2rem;
    }

/* 5. CONTACT PAGE */ 

/* 5a. Contact Form */ 

    #form-text {
        margin-right: 15rem;
    }

    #form-input {
        margin-right: 15rem;
    }

    #contact-form {
        margin: 7rem;
    }

    #contact-form h2 {
        font-size: 3.25rem;
    }
    
    #contact-form h3 {
        font-size: 2.25rem;
    }

    #contact-form input[type="text"], textarea {
        font-size: 1.5rem;
        border-radius: 8px;
        padding: .5rem 0rem .7rem .5rem;
    }

    #contact-form textarea {
        height: 15rem;
        padding: .4rem 0rem 0rem .5rem;
    }

    #contact-form input[type="submit"] {
        padding: .6rem 4rem .9rem 4rem;
        font-size: 1.5rem;

    }

/* 5b. Contact Info */ 

    #contact-info {
        margin-bottom: 4.2rem;
        border-radius: 8px;
    }

    #contact-info h2 {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 2.25rem;
    }

    #contact-info p {
        font-size: 2.25rem;
        padding: 1.25rem;
    }

/* 6. FOOTER */ 

    footer {
        padding: 2rem 0rem;
        margin-top: 2rem;
    }

    #sm-icons {
        margin-top: 10rem;
        margin-left: 3rem;
    }
    
    #sm-icons img {
        height: 4rem;
        padding-left: 2rem;
    }
    
    footer h2 {
        font-size: 3rem;
    }
    
    footer ul {
        padding: 3rem;
        font-size: 3rem;
    }
    
    #footer-nav {
        margin-right: 5rem;
        margin-top: 1.5rem;
    }


}