/* 
    CSS Guide 

    1.  GENERAL STYLES
    2.  HEADER

    3.  HOME PAGE
    3a. 
    3b. 
    3c. 
    3d. 
    3e. 

    4.  PRODUCTS PAGE
    4a. 
    4b. 
    4c. 

    5.  CONTACT PAGE
    5a. 
    5b. 
    5c. 

    6.  FOOTER
 */

 /* GENERAL STYLES */

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html {
    box-sizing: border-box; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit; 
}
  
body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
}

body {
    font-family: 'Degular', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

button, input[type="submit"] {
	border: none;
    font-family: 'Degular', sans-serif;
}

h1 {
    font-weight: 800;
}
 
/* HEADER */

header {
    color: white;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0 1.5rem;
}

#home-header {
    background-color: #F79420;
}

#products-header {
    background-color: #F15B57;
}

#contact-header {
    background-color: #803960;
}

.hidden {
    display: none;
}

/* 2. ---Main Nav--- */
 
#main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#main-nav label img {
    width: 1.5rem;
    cursor: pointer;
    transition: all .2s ease;
    position: absolute;
    left: 5%;
    top: 1.5%;
} 

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input, #burger-con {
    display: none;
}

#burger-con ul li a img {
    display: none;
}

#burger-con ul li #wide-logo {
    display: none;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
    transition: 50ms linear;
}

#main-nav ul li a {
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 .5rem;
}

#burger-con ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: .5rem;
}


#burger-con ul li:hover {
    transform: translateY(-1px);
    transition: 50ms ease-in-out;
}

#burger-con ul li a:hover {
    text-decoration: underline 1px;
}

#header-logo a {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    margin: 0 auto;
}

#header-logo h1 {
    padding-right: .5rem;
    font-size: 1.5rem;
    padding-bottom: .3rem;
}

#header-logo img {
    width: 1.5rem;
}

#wide-header {
    display: none;
}

#cart {
    position: absolute;
    right: 5%;
    width: 1.25rem;
    cursor: pointer;
    top: 1.5%;
}

#main-hero {
    border-radius: 20px;
    margin: 0.5rem 0;
}

#assorted-banner {
    position: relative;
}

#assorted-banner button {
    position: absolute;
    bottom: 10%;
    left: 29.5%;
    background-color: #6D9D7E;
    color: #A8D4A6;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.3rem 0.5rem;
    font-size: 0.475rem;
    font-weight: 600;

}

.card-left-con {
    width: 45%;

}

.card-right-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin-left: 0.5rem;
    height: 100%;
}

.product-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.product-cards {
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.product-cards h2 {
    margin-top: -.3rem;
    font-size: 1.875rem;
    font-weight: 800;
}

.product-cards h3 {
    font-weight: 700;
}

.product-cards button {
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}

.product-cards img {
    border-radius: 15px;
    padding: 1rem;
}

.card-backgrounds {
    margin-bottom: 1rem;
}

.cart-button {
    padding: .4rem 0rem 0.5rem 0rem;
    width: 100%;
}

.info-button {
    padding: .4rem 0rem 0.5rem 0rem;
    width: 100%;
}

#pineapple-card .product-card-text {
    color: #F7EBBB;
}

#orange-card .product-card-text {
    color: #FCD4A6;
}

#grapefruit-card .product-card-text {
    color: #F8BDBC;
}

#passionfruit-card .product-card-text {
    color: #CCB0BF;
}

#pineapple-card {
    background-color: #EBCE56;
}

#pineapple-background {
    background-color: #F7EBBB;
    border-radius: 15px;
}

#pineapple-card button {
    background-color: #F7EBBB;
    color: #EBCE56;
}

#orange-card {
    background-color: #F79420;
}

#orange-background {
    background-color: #FCD4A6;
    border-radius: 15px;
}

#orange-card button {
    background-color: #FCD4A6;
    color: #F79420;
}

#grapefruit-card {
    background-color: #F15B57;
}

#grapefruit-background {
    background-color: #F8BDBC;
    border-radius: 15px;
}

#grapefruit-card button {
    background-color: #F8BDBC;
    color: #F15B57;
}

#passionfruit-card {
    background-color: #803960;
}

#passionfruit-background {
    background-color: #CCB0BF;
    border-radius: 15px;
}

#passionfruit-card button {
    background-color: #CCB0BF;
    color: #803960;
}

.flavour-text {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.ingredient-list {
    font-size: 0.9rem;
    align-self: flex-end;
    margin-top: auto;
}

.ingredient-list span {
    font-weight: 600;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

#contact-form h2,
#contact-form h3,
#contact-form h4,
#contact-form input,
#contact-form textarea {
    color: #803960;
    font-family: 'Degular', sans-serif;
}

#form-text {
    text-align: center;
    margin-bottom: 1rem;
}

#contact-form h2 {
    font-size: 1.25rem;
}

#contact-form h3 {
    font-size: 1rem;
    font-weight: 600;
}

#contact-form h4 {
    font-size: .75rem;
    font-weight: 400;
}

#contact-form input[type="text"], textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .75rem 0;
    border-color: #803960;
    border-radius: 5px;
}

#contact-form input[type="submit"] {
    background-color: #803960;
    color: white;
    border-color: #803960;
    border-radius: 5px;
    padding: .25rem 1rem;
}

.product-cards-index {
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.product-cards-index img:first-child {
    border-radius: 15px;
    padding: 1rem;
}

.product-card-logo {
    width: 20%;
    padding-top: 1rem;
}

#endless-banner {
    background: linear-gradient(#6D9D7E, #A8D4A6);
    border-radius: 15px;
    text-align: center;
    color: white;
    overflow: hidden;
}

#endless-banner h1 {
    font-weight: 800;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 1.75rem;
}

#endless-banner h2 {
    font-weight: 500;
    margin-top: 0.25rem;
    font-size: 1.1rem;
}

#endless-banner button {
    background: white;
    color: #6D9D7E;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#endless-images {
    display: flex;
    height: 7rem;
    margin-top: 0.5rem;
    position: relative;
    bottom: -1rem;
    animation: endless 5s linear infinite;
}

#endless-images img{
    padding-left: 0.25rem;
}


#endless-images img:hover {
    transform: translateY(-0.25rem);
}

@keyframes endless {
    0% {
        transform: (translateX(0%))
    }

    100% {
        transform: translateX(-100%);
    }
}


#sustainability-banner {
    background: #FCD4A6;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color: #F79420;
    margin-top: 0.5rem;
}

#sustainability-banner img {
    height: 3rem;
    margin-top: 1rem;
}

#sustainability-banner div:nth-child(5) img {
    width: 5rem;
}

#sustainability-banner h1 {
    font-weight: 800;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 2.5rem;
}

#sustainability-banner h2 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 80%;
}

#sustainability-banner h3 {
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 60%;
}


#product-hero {
    border-radius: 20px;
    margin: 0.5rem 0;

}

#hero-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hero-video video {
    border-radius: 15px;
    margin-top: 0.5rem;
    z-index: 1;
    width: 100%;
}

#video-text {
    position: absolute;
    color: white;
    z-index: 2;
    width: 100%;
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero-video h1 {
    font-weight: 800;
    line-height: 2rem;
    text-align: center;
}

#hero-video button {
    background-color: #F15B57;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.35rem 0.5rem;
}


/* FOOTER */

#home-footer {
    background: url(../images/home-footer.svg) no-repeat;
    background-size: cover;
}

#products-footer {
    background: url(../images/products-footer.svg) no-repeat;
    background-size: cover;
}

footer {
    color: white;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .4rem;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    margin: 1.25rem 3rem 0 1rem;
}

#footer-logo h1 {
    margin-left: .5rem;
    padding-bottom: .3rem;
    font-size: 1.25rem;
}

#footer-logo img {
    width: 1.5rem;
}

#sm-icons {
    height: .6rem;
    display: flex;
    flex-direction: row;
    margin-top: 1.75rem;
}

#sm-icons img {
    padding-left: .5rem;
}

footer h2 {
    font-size: .4rem;
}

footer ul {
    list-style: none;
    padding: .5rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    margin-right: .5rem;
    margin-top: .75rem;
}


/* Tablet Styling */

@media screen and (min-width: 768px) { 

    header {
        border-radius: 0 0 1.5rem 1.5rem;
    }

    #cart {
        width: 1.5rem;
        right: 3.5%;
        top: 3.5%;
    }
    
    #main-nav h1 {
        position: absolute;
        color: white;
        left: 3.5%;
        font-size: 1.75rem;
        margin-bottom: .5rem;
    }

    #main-nav button {
        display: none;
    }

    #main-nav label img {
        display: none;
    }

    #burger-con {
        display: block;
    }

    #wide-header {
        display: block;
    }
    
    #header-logo {
        display: none;
    }

    #burger-con ul {
        padding-left: 2.75rem;
        margin-top: .5rem;
    }

    #burger-con ul li a img {
        display: block;
    }
    
    #burger-con ul li #wide-logo {
        display: block;
    }

    #main-nav {
        padding: .75rem;
        flex-direction: row;
    }

    #main-nav ul li {
        margin: 0rem 1rem;
    }
    
    #main-nav ul li a {
        font-size: 1rem;
    }
     
    #main-nav ul li a img {
        width: 3rem;
    }

    .card-right-con {
        margin-left: -.5rem;
    }

    #main-hero {
        margin-top: 1rem;
    }

    .product-cards-index {
        margin-top: .5rem;
    }
    
    .product-cards-index img:first-child {
        border-radius: 15px;
        padding: 2rem;
    }

    .product-cards-index div:first-of-type {
        margin: 1rem 1rem 0 1rem;
    }

    .product-card-logo {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
    }

    #endless-banner {
        margin-top: 0.5rem;
        height: 300px;
    }

    #endless-banner button {
        padding-bottom: 0.6rem;
    }

    #endless-images {
        height: 160px;
    }

    #endless-banner h2{
        font-size: 1.75rem;
    }

    #sustainability-banner {
        margin-top: 1rem;
    }

    #sustainability-banner div {
        width: 50%;
    }

    #sustainability-banner div:last-child {
        padding-bottom: 1.5rem;
    }

    #sustainability-banner img {
        height: 6rem;
    }
    
    #sustainability-banner div:nth-child(5) img {
        width: 9rem;
    }
    
    #sustainability-banner h1 {
        font-size: 3rem;
    }
    
    #sustainability-banner h2 {
        font-size: 1.5rem;
        width: 60%;
        padding-bottom: 1rem;
    }
    
    #sustainability-banner h3 {
        font-size: 1.5rem;
        width: 50%;
        padding-top: 1rem;
    }

    #video-text {
        position: absolute;
        color: white;
        z-index: 2;
        width: 100%;
        margin-right: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    #hero-video {
        margin-top: .5rem;
    }
    
    #hero-video h1 {
        line-height: 4rem;
        font-size: 4rem;
    }
    
    #hero-video button {
        font-weight: 600;
        margin-top: 1.5rem;
        width: 100%;
        border-radius: 10px;
        font-size: 1.4rem;
        padding: 0.5rem 1rem 0.7rem 1rem;
    }

    .product-cards h2 {
        font-size: 1.7rem;
    }

    .flavour-text {
        font-size: 0.9rem;
    }

    .ingredient-list {
        font-size: 0.85rem;
    }

    #assorted-banner {
        margin: 0.5rem 0;
    }

    #assorted-banner button {
        position: absolute;
        bottom: 7%;
        left: 23%;
        padding: 0.25rem 3.8rem 0.3rem 3.8rem;
        font-size: 1rem;
        border-radius: 7px;
    }
    
}

/* Medium Desktop Styling */

@media screen and (min-width: 1200px) { 

    header {
        border-radius: 0 0 1.75rem 1.75rem;
    }

    #cart {
        right: 2.5%;
        top: 3.75%;
        width: 2rem;
    }
    
    #main-nav h1 {
        left: 2.5%;
    }

    #main-nav {
        padding: 1rem;
    }

    #main-nav h1{
        font-size: 2.5rem;
    }
    
    #main-nav ul li {
        margin: 0rem 2.5rem;
    }

    #burger-con ul {
        padding-left: 3rem;
    }
    
    #main-nav ul li a {
        font-size: 1.3rem;
    }
     
    #main-nav ul li a img {
        width: 3.5rem;
    }

    #endless-banner {
        height: 400px;
    }

    #endless-banner h1 {
        font-size: 2.8rem;
        margin-top: 1.5rem;
    }

    #endless-banner h2 {
        font-size: 2.8rem;
    }

    #endless-banner button {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem 0.7rem 1.5rem;
        margin: 1.5rem 0 1rem 0;
    }

    #endless-images {
        height: 180px;
    }

    #sustainability-banner h1 {
        font-size: 4rem;
    }

    #sustainability-banner h2 {
        width: 100%;
    }

    #sustainability-banner div {
        width: auto;
    }

    #sustainability-banner h3 {
        font-size: 1.75rem;
        width: 60%;
    }

    .product-cards h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .product-cards h3 {
        font-size: 1.75rem;
    }

    .flavour-text {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .ingredient-list {
        font-size: 1.29rem;
        line-height: 1.6rem;
    }

    .card-left-con {
        margin-right: 1rem;
    }

    .product-cards {
        padding: 1.3rem;
    }

    .product-cards img {
        padding: 2rem;
    }

    .card-backgrounds {
        margin-bottom: 1.3rem;
    }

    .product-card-text {
        margin-bottom: 1.3rem;
    }

    .cart-button {
        padding: .7rem 0rem 0.8rem 0rem;
    }
    
    .info-button {
        padding: .7rem 0rem 0.8rem 0rem;
    }

    .product-cards button {
        font-size: 1.1rem;
    }

    #assorted-banner button {
        position: absolute;
        bottom: 5.5%;
        left: 22.5%;
        padding: .5rem 6.5rem .7rem 6.5rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

/* Large Desktop Styling */

@media screen and (min-width: 1920px) { 

    header {
        border-radius: 0 0 3rem 3rem;
    }

    #cart {
        right: 2.5%;
        top: 4%;
        width: 3rem;
    }
    
    #main-nav h1 {
        left: 2.5%;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    #burger-con ul {
        padding-left: 4.5rem;
    }

    #main-nav ul li {
        margin: 0rem 4rem;
    }
    
    #main-nav ul li a {
        font-size: 2rem;
    }
     
    #main-nav ul li a img {
        width: 4.5rem;
    }

    .product-card-logo {
        margin-bottom: 0;
        padding-top: 1.25rem;
    }

    .product-cards-index {
        padding: 2rem;
    }

    .product-cards-index div:first-of-type{
        padding: 2rem;
    }

    #endless-banner {
        height: 600px;
    }

    #endless-banner h1 {
        font-size: 4rem;
    }

    #endless-banner h2 {
        font-size: 4rem;
    }

    #endless-banner button {
        font-size: 2rem;
        border-radius: 15px;
        padding: 0.5rem 3rem 0.8rem 3rem;
        margin: 1.5rem 0 1rem 0;
    }

    #endless-images {
        height: 350px;
    }

    #sustainability-banner {
        height: 650px;
    }

    #sustainability-banner h1 {
        font-size: 7rem;
    }

    #sustainability-banner h2 {
        font-size: 3rem;
        margin-top: -1.5rem;
    }

    #sustainability-banner img {
        height: 8rem;

    }
    
    #sustainability-banner div:nth-child(5) img {
        width: 11rem;
    }
    
    #sustainability-banner h3 {
        font-size: 3rem;
    }

    .product-cards h2 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: -.5rem;
    }

    .product-cards h3 {
        font-size: 2.8rem;
    }

    .flavour-text {
        font-size: 2.7rem;
        line-height: 2.7rem;
    }

    .ingredient-list {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }

    .card-left-con {
        margin-right: 1rem;
    }

    .product-cards {
        padding: 2rem;
    }

    .product-cards img {
        padding: 3.5rem;
    }

    .card-backgrounds {
        margin-bottom: 2rem;
    }

    .product-card-text {
        margin-bottom: 2rem;
    }

    .cart-button {
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    .info-button {
        padding: 1rem 0rem 1.2rem 0rem;
    }

    .product-cards button {
        font-size: 2rem;
    }

    #assorted-banner button {
        position: absolute;
        bottom: 5.5%;
        left: 22.5%;
        padding: 1rem 12rem 1.2rem 12rem;
        font-size: 2rem;
        border-radius: 15px;
    }
}